# Директории сборки
build/
bin/

# Скомпилированные файлы
*.o
*.obj
*.exe
*.out

# Файлы, генерируемые самой программой (логи)
motion_log.txt

# Специфичные файлы IDE
.idea/
.vscode/
*.user
*.suo
.DS_Store
